<h2>Add your new celebrity</h2>
<form action="/celebrities/create", method="POST">
    <input name="name" id="name" type="text" placeholder="Name">
    <input name="occupation" id="occupation" type="text" placeholder="Occupation">
    <input name="catchPhrase" id="catchPhrase" type="text" placeholder="Catch Phrase"> 
    <button>Add</button>
</form>