<h2>Add your new celebrity</h2>
<form action="/celebrities/create", method="POST">
<label for="name"> Name</label>
    <input name="name" type="text" placeholder="Name">

<label for="occupation">Occupation</label>
<input name="occupation" type="text" placeholder="Occupation">
<label for="catchPhrase">Catch Phrase</label>
    
    <input name="catchPhrase" type="text" placeholder="Catch Phrase"> 
    <button>Add</button>
</form>